ul.mainmenu {
	list-style: none;
	background: #3F4137;
	height: 60px;
	margin: 0;
	padding: 0;
	color: #fdc073;
	font-size: 20px;
	overflow: hidden;
}

ul.mainmenu li {
	float: left;
	margin: 18px 40px 0 50px;
}

ul.mainmenu li.last {
	float: right;
}

ul.mainmenu li a {
	color: #fdc073;
	text-decoration: none;
}

ul.mainmenu li a:hover {
	color: #FDA83D;
}

div.content {
	margin: 10px;
}
